<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
    ข้อมูลส่วนตัว
  </button>
  <button type="button" class="list-group-item list-group-item-action">รายการสั่งซื้อ</button>
  <button type="button" class="list-group-item list-group-item-action">รายการโปรด</button>
  <button type="button" class="list-group-item list-group-item-action">ประวัติการเข้าชม</button>
  <button type="button" class="list-group-item list-group-item-action">ตั้งรหัสผ่าน</button>
  <button type="button" class="list-group-item list-group-item-action">ออกจากระบบ</button>
</div>