@model ChangePasswordViewModel

@{
    ViewData["Title"] = "เปลี่ยนรหัสผ่าน";
    Layout = "_LayoutUser";
}

<h4 class="mb-1">เปลี่ยนรหัสผ่าน</h4>
<span class="text-muted fs-6">กรุณาอย่าเปิดเผยรหัสผ่านแก่คนอื่นๆ เพื่อความปลอดภัยของบัญชีผู้ใช้คุณเอง</span>
<hr class="mt-1" />

<div class="mx-auto p-4" style="width:500px">
    <form autocomplete="off" method="post" autocomplete="off">
         <fieldset class="mb-2">
            <label asp-for="OldPassword" class="form-label fw-bold">รหัสผ่านปัจจุบัน <span class="text-danger">*</span></label>
            <div class="input-group mb-1">
                <span class="input-group-text text-muted">
                    <i class="fa-solid fa-key fa-lg"></i>
                </span>
                <input asp-for="OldPassword" type="password" class="form-control form-control-lg max-length" maxlength="20" />
            </div>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </fieldset>
        <fieldset class="mb-2">
            <label asp-for="NewPassword" class="form-label fw-bold">รหัสผ่านใหม่ <span class="text-danger">*</span></label>
            <div class="input-group mb-1">
                <span class="input-group-text text-muted">
                    <i class="fa-solid fa-lock fa-lg"></i>
                </span>
                <input asp-for="NewPassword" type="password" class="form-control form-control-lg max-length" maxlength="20" />
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </fieldset>
        <fieldset class="mb-4">
            <label asp-for="ConfirmPassword" class="form-label fw-bold">ยืนยันรหัสผ่าน <span class="text-danger">*</span></label>
            <div class="input-group mb-1">
                <span class="input-group-text text-muted">
                    <i class="fa-solid fa-lock fa-lg"></i>
                </span>
                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg max-length" maxlength="20"/>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </fieldset>
        <button class="btn btn-primary w-100 mb-3">บันทึกข้อมูล</button>
    </form>
</div>

@section Script
    {
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.max-length').maxlength();
        });
    </script>
}