<nav class="side-menu">
    <ul class="side-menu-list">
        <li class="purple">
            <a asp-area="Admin" asp-controller="User" asp-action="">
                <i class="font-icon fa-solid fa-user-group"></i>
                <span class="lbl">พนักงาน</span>
            </a>
        </li>
        <li class="green">
            <a asp-area="Admin" asp-controller="Role">
                <i class="font-icon fa-solid fa-user-tag"></i>
                <span class="lbl">สิทธ์การใช้งาน</span>
            </a>
        </li>
        <li class="red">
            <a asp-area="Admin" asp-controller="Book" asp-action="">
                <i class="font-icon fa-solid fa-book"></i>
                <span class="lbl">หนังสือ</span>
            </a>
        </li>
        <li class="blue">
            <a asp-area="Admin" asp-controller="Role">
                <i class="font-icon fa-solid fa-book-bookmark"></i>
                <span class="lbl">ประเภทหนังสือ</span>
            </a>
        </li>
        <li class="brown">
            <a asp-area="Admin" asp-controller="Role">
                <i class="font-icon fa-solid fa-tags"></i>
                <span class="lbl">แท็กหนังสือ</span>
            </a>
        </li>
    </ul>
</nav>